@import "tailwindcss";

/* في ملف globals.css أو index.css */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer */
    scrollbar-width: none; /* Firefox */
  }
  .translatey-20:hover {
    transform: translateY(-20%);
  }
  .translatey-10:hover {
    transform: translateY(-10%);
  }
}
a.active {
  padding-bottom: 5px;
  border-bottom: 3px solid #5f6fff;
  transition: all 0.3s ease-in-out;
}
.menu a.active {
  background-color: #5f6fff;
  color: white;
  border: none;
  padding-bottom: 0.5rem;
}

html {
  scroll-behavior: smooth;
}
